COSMOS_ENDPOINT=https://localhost:8081
COSMOS_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
COSMOS_DATABASE=contract_platform
ALLOWED_ORIGINS=http://localhost:3000
PROJECT_NAME=Contract Intelligence Platform
ENV=development
UPLOAD_DIR=./uploads

# local | azure_blob
STORAGE_BACKEND=local
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=contracts
